
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/klass.min.js') ?>"></script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/code.photoswipe.jquery-3.0.5.js') ?>"></script>

<!-- zoom included -->


<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/media_zoom.css') ?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/mOne-zoom-pan.css') ?>" />
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.flexslider.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery.easing.1.3.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/mOne-zoom-pan.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/flexslider_01.js') ?>"></script>

<!-- end zoom -->



<?php

/**

 * Cloud Image Zoom - Magento Extension

 *

 * @package     CloudZoom

 * @category    EcommerceTeam

 * @copyright   Copyright 2011 EcommerceTeam Inc. (http://www.ecommerce-team.com)

 * @version:    1.1.3

 */



/** @var $this Mage_Catalog_Block_Product_View_Media */

/** @var $product Mage_Catalog_Model_Product */

$product      = $this->getProduct();

/** @var $helper EcommerceTeam_CloudZoom_Helper_Data */

$helper       = Mage::helper('ecommerceteam_cloudzoom');

/** @var $outputHelper Mage_Core_Block_Abstract */

$outputHelper = $this->helper('catalog/output');



$position       = $helper->getConfigData('position');

$showTitle      = intval($helper->getConfigFlag('show_title'));

$titleOpacity   = intval($helper->getConfigData('title_opacity')) / 100;

$lensOpacity    = intval($helper->getConfigData('lens_opacity')) / 100;

$tintColor      = trim($helper->getConfigData('tint_color'));

$tintOpacity    = intval($helper->getConfigData('tint_opacity')) / 100;

$zoomWidth      = intval($helper->getConfigData('zoom_width'));

$zoomHeight     = intval($helper->getConfigData('zoom_height'));

$bigImageWidth  = intval($helper->getConfigData('big_image_width'));

$bigImageHeight = intval($helper->getConfigData('big_image_height'));



$bigImageX  = 560;

$bigImageY = 800;



$config = array(

    "position:'{$position}'",

    "showTitle:{$showTitle}",

    "titleOpacity:{$titleOpacity}",

    "lensOpacity:{$lensOpacity}",

);

    

if ($position == 'inside') {

    $config[] = 'adjustX: -4,adjustY:-4';

} elseif ($position == 'right') {

    $config[] = 'adjustX: 10,adjustY:-4';

} elseif ($position == 'bottom') {

    $config[] = 'adjustX: -4,adjustY:10';

} elseif ($position == 'left') {

    $config[] = 'adjustX: -18,adjustY:-4';

} elseif ($position == 'top') {

    $config[] = 'adjustX: -4,adjustY:-18';

}



if ($tintColor) {

    $config[] = "tint:'{$tintColor}',tintOpacity:{$tintOpacity}";

}



if ($zoomWidth) {

    $config[] = "zoomWidth:{$zoomWidth}";

}



if ($zoomHeight) {

    $config[] = "zoomHeight:{$zoomHeight}";

}

?>



<?php if ($zoomWidth > 50 and $zoomHeight > 50  ): ?>

<style type="text/css">

.cloud-zoom-big {width:<?php echo "$zoomWidth"; ?>px !important; height:<?php echo "$zoomHeight"; ?>px !important;  }

</style>

<?php endif; ?>



<div class="product-box-customs">

    <?php if ($product->getImage() != 'no_selection' && $product->getImage()): ?>


        <div class="mOne-slider" id="preview">

            <ul class="slides">

            <?php foreach ($this->getGalleryImages() as $_image): ?>
                
                <li data-thumb="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->keepFrame(false)->resize(120);?>">
                <span class="slashc-img-zoom-pan">
                    <img class="small-img" src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->keepFrame(false)->resize($bigImageX, $bigImageY);?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
                    <img class="big-img" src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->keepFrame(false)->resize($bigImageWidth, $bigImageHeight);?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>
                </span>

                </li>

            <?php endforeach; ?>

            </ul>

            <?php //echo "$tumbSliderControl"; ?>

        </div>


    <?php else: ?>

    <p class="product-image">

        <?php

            $_img = '<img src="'.$this->helper('catalog/image')->init($product, 'image')->resize($bigImageX, $bigImageY).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';

            echo $outputHelper->productAttribute($product, $_img, 'image');

        ?>

    </p>



    <?php endif; ?>

    <?php if (count($this->getGalleryImages()) > 0): ?>

    

         <?php if (count($this->getGalleryImages()) > 3)  {

            $carous='tumbSlider';

            $tumbSliderControl = '<a class="tumbSlider-prev fa fa-chevron-circle-left" href="#"></a>

            <a class="tumbSlider-next fa fa-chevron-circle-right" href="#"></a>';

        } else 

            {  

                $tumbSliderControl ='';

                $carous='tumbSlider-none';

            } ?>


        <div class="gallery-swipe-content">

            <ul id="gallery-swipe" class="gallery-swipe">

                <?php foreach ($this->getGalleryImages() as $_image): ?>

                    <li>

                        <a href='<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->resize($bigImageWidth, $bigImageHeight);?>'  title='<?php echo $this->htmlEscape($_image->getLabel()) ?>'>

                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->resize($bigImageWidth, $bigImageHeight);?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"/>

                        </a>

                    </li>

                <?php endforeach; ?>

            </ul>

        </div>

    <?php endif; ?>

</div>

<!-- FlexSlider -->
  <script defer src="<?php echo $this->getSkinUrl('js/jquery.flexslider-min.js') ?>"></script>

  <script type="text/javascript">
    
    jQuery(window).load(function(){
      jQuery('.mOne-slider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        slideshow: false,
        start: function(slider){
          jQuery('body').removeClass('loading');
        }
      });
    var wd = jQuery('.flex-viewport').width();
    var prve = wd-41;
    var mql = window.matchMedia("screen and (max-width: 1024px)");
    if (mql.matches){ 
        jQuery('ul.slides').css({"transform":"translate3d(-" + wd +"px, 0px, 0px)"}); 
    }
    else{
        jQuery('ul.slides').css({"transform":"translate3d(-560px, 0px, 0px)"});
    }
    jQuery('ul.slides').css({"transform":"translate3d(-560px, 0px, 0px)"});
    jQuery(".flex-viewport .slides li:first-child").addClass('first');
    jQuery('.small-img').css({"width":wd});
    jQuery('#preview .flex-prev').css({"left":"-"+ prve +"px"});
    });
    
    
  </script>