div#preview {
    margin: 0 auto 50px;
    overflow: hidden;
    position: relative;
}
div#preview ul {
    margin: 0;
    padding: 0;
}
div#preview li {
right:0;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div#preview p {
    color: #999;
    font: 12px "trebuchet ms",sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
div#preview .slashc-img-zoom-pan {
}
.mOne-slider .flex-viewport {
    float: right;
    max-height: 800px;
    position: relative;
    width: 69.8%;
    z-index: 10;
}
.flex-control-nav {
    float: left;
    margin-left: -5px;
    width: 30%;
	background:#fff;
}

#preview .flex-control-nav li {
    cursor: pointer;
    float: left;
height: 157px;
margin: 0 0 4px;
width: 47.5%;
}
#preview .flex-control-nav li img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.3;
}
#preview .flex-next {
    background: url("../images/zoom-btn.png") no-repeat scroll -107px -1px rgba(0, 0, 0, 0);
    display: block;
    height: 110px;
    position: absolute;
    right: 10px;
    text-indent: -999em;
    width: 30px;
    z-index: 9999;
}
#preview .flex-prev {
    background: url("../images/zoom-btn.png") no-repeat scroll -35px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 110px;
    left: -488px;
    position: relative;
    text-indent: -9999em;
    width: 30px;
    z-index: 9999;
}
#preview .flex-next:hover {
    background: url("../images/zoom-btn.png") no-repeat scroll -72px -1px rgba(0, 0, 0, 0);
}
#preview .flex-prev:hover {
    background: url("../images/zoom-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
span.slashc-img-zoom-pan img {
    cursor: crosshair;
}
#preview .flex-direction-nav {
    float: right;
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 99;
}
.flex-direction-nav li {
    float: left;
}
#preview .flex-control-nav li img.flex-active {
    opacity: 1;
}