.nav-container {  
  position: relative;  
  z-index: 2; 
  width: 100%;
  background:#fff; 
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.07);
  -moz-box-shadow:0 7px 7px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow:0 7px 7px rgba(0, 0, 0, 0.07);
  border-top: 1px solid #d3d3d3;
}
.sf-menu {   }
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  z-index: 1;
}
.sf-menu > li {border-left: 1px solid #d3d3d3;}
.sf-menu > li:last-child {border-right: 1px solid #d3d3d3;}
.sf-menu > li > a {border: 1px solid #fff;}
.sf-menu li.parent {z-index: 2;}
.sf-menu li a {
  display: block;
  color: #1e1d1d;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: capitalize;
}
.sf-menu > li {padding:4px; }
.sf-menu > li > a > span {
  display: block;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  padding:12px 13px 17px;
  text-transform: uppercase;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a:before { content: "\f103"; position: absolute; bottom: 0px; width: 100%; text-align: center;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {background: #fa3333; color: #fff; border: 1px solid #da2e2e; border-bottom-color: #951f1f; }

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #fff;
  box-shadow:0 0px 13px rgba(0,0,0,0.15);
  -moz-box-shadow:0 0px 13px rgba(0,0,0,0.15);
  -webkit-box-shadow:0 0px 13px rgba(0,0,0,0.15);
  padding: 10px 20px;
  moz-box-sizing:content-box;
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
   box-sizing: content-box;
}
.sf-menu li li {  border-bottom: 1px dotted #d3d3d3;  padding: 9px 0 10px;}
.sf-menu li li.parent > a:before { content: "\f107"; float: right; font-size: 14px;}
.sf-menu li li.last {  border-bottom-width:0px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
  display:block;
  background: none;
  font-size: 13px;
  line-height: 15px;
  color: #777777;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #ed1111;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 220px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 58px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 212px;
  /* match ul width */
  top: -10px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

    .nav-container.fixed {   position:fixed; background: #fff;   top:0;  }
    .nav-container.fixed:before {
        content: ".";
        font-size: 0;
        text-indent: -77777px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-top: 2px solid #000; 
        z-index: 99999;
     }
     .nav-container.fixed .sf-menu {
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
     }

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
  .nav-container {padding-left: 30px; padding-right: 30px; margin-left: -30px; margin-right: -30px; width: auto; }
 .sf-menu-block {display: block; position: relative;}
  #menu-icon {
    display: block;
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 50px;
    line-height: 48px;
    color: #000;
    overflow: hidden;

  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 48px; float: right; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border-top: 2px solid #E03B3B;
    box-shadow:0 0px 13px rgba(0,0,0,0.15);
    -moz-box-shadow:0 0px 13px rgba(0,0,0,0.15);
    -webkit-box-shadow:0 0px 13px rgba(0,0,0,0.15);
    position: absolute;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    top: 52px;
    padding: 10px 20px;
  }
  .sf-menu-phone li {  position: relative;   }
  .sf-menu-phone li { border-bottom: 1px dotted #d3d3d3; padding: 10px 0; font-size: 16px; }
  .sf-menu-phone li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #838383;  }
  .sf-menu-phone li a:hover { color: #000; }
  .sf-menu-phone li li {font-size: 13px; padding: 6px 0; }
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 8px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  display: none; padding: 0 15px;]  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0 10px;}
}
