<!--@subject Uw account is geactiveerd, {{var customer.getName()}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
						</td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
								<strong>Hallo {{var customer.name}}</strong>,<br/>
								uw account is geactiveerd.<br/>
								Om in te loggen wanneer u de website bezoekt klik op <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> of
								<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mijn Account</a> boven aan iedere pagina en voer uw gegevens in.
                            </p>

                            <p>Als u enige vragen heeft over uw account kunt u met ons contact opnemen via <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> of per telefoon {{config path='general/store_information/phone'}}.</p>
                            <p>Nogmaals bedankt!</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
